<div class="contatiner border rounded mb-4">
  <div class="row">
    <div class="card">
      <img class="card-img-top mr-1 ml-1 mt-1 pl-1" 
           src="{{ MEDIA_URL }}{{ question.photo }}" 
           style="max-width: 50px;">

      <div class="card-block">
        <p class="card-text" 
           style="text-align:center">{{question.author}}
        </p>
      </div>

      <input class="mr-3 ml-1 mt-1 pl-2"
             value="{{ question.likes_count }}"
             type="number" 
             style="width: 50px; display: inline-block;">

    </div>
    <div class="col mb-1">
      <a  class="refs" href="{% url 'question' qid=question.id %}">{{ question.title }}</a>
      <p class="mt-1">{{ question.text }}</p>
      <div>
        <a class="refs mr-5"
           href="{% url 'question' qid=question.id %}">answer({{ question.answers_count }})
        </a>
        Tags:
        {% for tag_ in question.tags.all %}
          <a href="{% url 'tag' tag=tag_ %}" 
             class="refs mr-1">{{ tag_ }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>